<b>
  UsersData
</b><br>
<fieldset>
<form [formGroup]="UserData" (ngSubmit)="addUser()">
  FirstName :<input type="text" name="firstname" formControlName="firstname" >
  LastName  :<input type="text" name="lastname" formControlName="lastname">
  DateofJoin:<input type="date" name="DateofJoin" formControlName="DateofJoin">
  salary    :<input type="number" name="salary" formControlName="salary" >
  <input type="submit"  [disabled]="this.UserData.invalid" value="addUser" >
</form>
</fieldset>
 <table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>DateofJoin</th>
    <th>salary</th>
  </tr>
  <tr *ngFor="let uData of userList">
    <td>{{uData.firstname}}</td>
    <td>{{uData.lastname}}</td>
    <td>{{uData.DateofJoin}}</td>
    <td>{{uData.salary}}</td>
  </tr> 
  

<router-outlet></router-outlet>
